section h2:hover{
  text-decoration: underline;
  position: relative;
  animation-name: move;
  animation-duration: 1s;
}

@keyframes move {
  0%   {left:0px; top:0px;}
  50%  {color:gold; left:5%;}
  100% {left:0px; top:0px;}
}

.img:hover{
  position: relative;
  animation-name: rotate;
  animation-timing-function: linear;
  animation-duration: 1.5s;
}
@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
