* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

/* Utility classes */
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

body {
  background-color: #333;
  color: white;
}
.wrapper {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

#site_content{
  height: calc(100% - 60px);
}

aside.main_menu {
  min-width: 150px;
  background-color: black;
}

.logo{
  max-width: 100px;
  height: 60px;
}
.logo img{
  width: 100%;
  margin-left: 10px;
}

.home{
  max-width: 150px;
}
.home img{
  width: 30%;
}
.home li{
  font-size: 7px;
  color: rgb(193, 193, 193);
}
.home, li, span{
  align-items: center;
}

.covers_section {
  background-color: rgb(20,25,34);
  padding: 20px;;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 60px;
  /* margin-top: 60px; */
  width: 100% ;
}

.subscribe_banner {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 150px);
  height: 60px;
  background-color: rgba(0,0,0,0.8);
  justify-content: flex-end;
  align-items: center;
}
.subscribe_banner span{
  font-size: 12px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 30px;
  margin-right: 2%;
}

/* Covers section */
section{
  margin-bottom: 50px;
}
section span{
  font-size: 10px;
  color: rgb(193, 193, 193);
}
.section_navbar{
  justify-content: center;
  text-align: center;
}
.navbar a{
  color: rgb(193, 193, 193);
  text-decoration: none;
  padding: 10px;
  font-size: 12px;
}

.item {
  width: 200px;
  height: 200px;
  margin: 40px 10px;
  text-align: center;
}

.item img{
  width: 100%;
}

.circle, .circle img{
  border-radius: 50%;
}


/* Footer */
footer#site_footer {
  background-color: yellowgreen;
  height: 60px;
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; */
}
