* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

/* Utility classes */
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

body {
  background-color: #333;
  color: white;
}
.wrapper {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

#site_content{
  height: calc(100% - 60px);
}

aside.main_menu {
  min-width: 150px;
  height: 100%;
  background-color: black;
  flex-direction: column;

}

.logo{
  max-width: 100px;
  height: 60px;
}
.logo img:first-child{
  width: 100%;
  margin-left: 10px;
}
.lt_logo{
  display: none;
}

.home_search{
  max-width: 150px;
}
.home_search img{
  width: 50px;
}
.home_search li:first-child{
  color: white;
  font-weight: bold;
  border-left: 4px solid yellowgreen;

}
.home_search li, .playlist li, .download, .utente{
  font-size: 10px;
  color: rgb(193, 193, 193);
  padding: 5px 0;
}
.home_search li{
  align-items: center;
}
.playlist ul, .playlist h5{
  list-style: none;
  margin-left: 10px;
}
.playlist{
  flex-grow: 1;
}
li i{
  color: black;
  background-color: rgb(193, 193, 193);
  padding: 5px;
}
.playlist ul span{
  margin-left: 5px;
}

.footer_aside{
  max-width: 150px;
}
.footer_aside img{
  width: 20px;
}
.download{
  border-bottom: 1px solid rgb(193, 193, 193);
  width: 90%;
  margin: auto;
}

.download, .utente{
  align-items: center;
  padding: 5px 0;
}

.utente{
  color: white;
  font-weight: bold;
}
.utente img{
  width: 30px;
  background-color: rgb(193, 193, 193);
  border-radius: 50%;
  padding: 7px 0;
  margin-left: 10px;
}

.covers_section {
  background-color: rgb(20,25,34);
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 60px;
  /* margin-top: 60px; */
  width: 100% ;
}

.subscribe_banner {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 150px);
  height: 60px;
  background-color: rgba(0,0,0,0.8);
  justify-content: flex-end;
  align-items: center;
}
.subscribe_banner span{
  font-size: 12px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 30px;
  margin-right: 2%;
}

/* Covers section */
section{
  margin-bottom: 50px;
}
section span{
  font-size: 10px;
  color: rgb(193, 193, 193);
}
/* navbar */
.section_navbar{
  justify-content: center;
  text-align: center;
}

.navbar a{
  color: rgb(193, 193, 193);
  text-decoration: none;
  padding: 1%;
  font-size: 12px;
}

.item {
  width: 14%;
  margin: 40px 1%;
  text-align: center;
}

.item img{
  width: 100%;
}

.circle, .circle img{
  border-radius: 50%;
}


/* Footer */
footer#site_footer {
  background-color: rgb(40,40,40);
  height: 60px;
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; */
}

.player{
  justify-content: space-between;
  height: 100%;
}

.sinistra{
  align-items: center;
  flex-grow: 1;
  margin-left: 5px;
}

.sinistra img{
  width: 30px;
}
.sinistra i{
  color: rgb(193, 193, 193);
  padding: 0 10px;
}
.sinistra i, .sinistra div{
  padding: 0 10px;
  font-size: 12px;
}

.grey{
  font-size: 10px;
  color: rgb(193, 193, 193);
}


.centro{
  padding: 0 5px;
  flex-direction: column;
  flex-grow: 2;
  height: 100%;
  justify-content: center;
}

.centro div{
  text-align: center;
}
.centro span{
  text-align: center;
}
.centro i{
  padding: 0 10px;
  font-size: 15px;
}
.fa-play:before {
  border: 3px solid white;
  border-radius: 50%;
  padding: 3px 4px;
}
.pause{
  align-items: flex-start;
}
.centro .hr_white{
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  width: 20%;
  height: 3px;
  align-items: center;
  position: relative;
  top: 5px;
  margin-left: 5%;
}
.centro .hr_grey{
  background: darkgrey;
  border: 1px solid darkgrey;
  border-radius: 10px;
  width: 100%;
  height: 3px;
  align-items: center;
  position: relative;
  top: 5px;
  margin-right: 5%;
}
.centro span{
  font-size: 10px;
}

.tot{
  align-items: flex-end;
}

.destra{
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  margin-right: 5px;
}
.destra .hr_grey{
  background: darkgrey;
  border: 1px solid darkgrey;
  border-radius: 10px;
  width: 30%;
  height: 3px;
  align-items: center;
}
.destra .hr_white{
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  width: 10%;
  height: 3px;
  align-items: center;
}
.destra i{
  padding: 0 10px;
  font-size: 12px;
}

/* Media Query xs */
@media screen and (max-width: 576px){
  .item {
    flex-basis: 48%;
  }

  .subscribe_banner {
    width: calc(100% - 40px);

  }

  aside.main_menu {
    min-width: inherit;
    width: 40px;
  }

  .logo{
    height: auto;
  }
  .logo img:first-child{
    display: none;
  }
  .lt_logo{
    display: block;
    width: 40px;
  }
  .home_search span{
    display: none;
  }
  .home_search img{
    width: 40px;
  }
  .home_search li:first-child{
    border-left: none;

  }

  .playlist ul, .playlist h5{
    display: none;
  }

  .footer_aside span{
    display: none;
  }
  .download{
    border-bottom: 1px solid rgba(193, 193, 193, 0);
    margin-left: 5px;
  }
  .utente img{
    width: 20px;
    background-color: rgb(193, 193, 193);
    border-radius: 50%;
    padding: 5px 0;
  }
  
  .centro i{
    padding: 0;
  }
}

/* Media Query s */
@media screen and (min-width: 577px) and (max-width: 768px){
  .item {
    flex-basis: 48%;
  }
}

/* Media Query m */
@media screen and (min-width: 769px) and (max-width: 991px){
  .item {
    flex-basis: 23%;
  }

}

/* Media Query l */
@media screen and (min-width: 992px) and (max-width: 1199px){

}

/* Media Query xl */
@media screen and (min-width: 1200px){

}
